@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
  font-family: "nanum_son";
  src: url("../public/assets/font/nanum_son.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "nanum_square_light";
  src: url("../public/assets/font/nanum-square/NanumSquareL.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "nanum_square_bold";
  src: url("../public/assets/font/nanum-square/NanumSquareB.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "nanum_square_extra_bold";
  src: url("../public/assets/font/nanum-square/NanumSquareEB.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "nanum_square_regular";
  src: url("../public/assets/font/nanum-square/NanumSquareR.ttf") format("truetype");
  font-weight: normal;
}

/* font-family: 'nanum_son'; */


* {
  box-sizing: border-box;
}

.term {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.term h2 {
  font-size: 16px;
}
.term p {
  font-weight: 100;
  font-size: 12px;
}

.term_img {
  width: 500px;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  cursor: default;
  font-weight: 700;
}

/* content */
.first {
  justify-content: center;
  text-align: center;
  background-color: #F1F1F1;
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 250px;
  font-family: 'nanum_son';
}

.first_text {
  text-align: space;
  font-size: 50px;
}

.first_text_small {
  font-size: 28px;
}

.first_img {
  height: 250px;
}

.first_box {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.first_description {
  text-align: left;
  font-size: 50px;
}

.first_description_small {
  font-size: 28px;
}

.first_descrition_red {
  color: red;
}

.first_description_sub {
  font-size: 10px;
  color: gray;
  margin-top: 100px;
  font-family: 'nanum_square_light';
}

.first_receipt_img {
  height: 400px;
}


p {
  font-size: 24px;
}

.second {
  background-color: white;
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.second_box {
  display: flex;
  justify-content: center;
}

.second_main_description {
  font-size: 45px;
  color:#5856D7;
  font-family: 'nanum_square_extra_bold';
}

.second_arrow {
  margin-top: 100px;
  margin-bottom: 50px;
  height: 200px;
}

.second_img {
  height:80px;
}

.third {
  justify-content: center;
  background-color: #F1F1F1;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 250px;
  text-align: center;
}

.third_progress_img {
  height: 150px;
}

.third_description {
  font-family: 'nanum_son';
  font-size: 28px;
}

.third_description_blue {
  color: blue;
  font-size: 50px;
}

.third_sub {
  display: flex;
  justify-content: space-around;
  background-color: #F1F1F1;
  background-image: -webkit-linear-gradient(180deg, gray 50%, #f1f1f1 50%);
  padding: 200px;
  padding-left : 150px;
  padding-right: 150px;
  padding-bottom: 100px;
  text-align: center;
}

.third_sub_person_img {
  height: 300px;
}

.third_sub_text {
  font-size: 30px;
  font-family: 'nanum_square_bold';
}

.forth {
  background-color: white;
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.forth_progress_img {
  height: 110px;
}

.forth_result_img {
  height: 600px;
}

.forth_speech_img {
  height: 250px;
}

.forth_box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.forth_sub_box {
  text-align: left;
  margin-left: 50px;
  font-family: 'nanum_son';
}

.forth_sub_box_text {
  font-size: 50px;
}

.fifth {
  background-color: #F1F1F1;
  padding: 200px;
  padding-top: 200px;
  padding-bottom: 250px;
  text-align: center;
}

.fifth_description {
  font-family: 'nanum_son';
  font-size: 28px;
}

.fifth_book_img {
  height: 150px;
}

.fifth_main_img {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 200px;
}

.fifth_box {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'nanum_square_regular';
}

.fifth_box_description {
  font-family: 'nanum_son';
  font-size: 40px;
}

.fifth_box_description_highlight {
  color:#5856D7;
}

.fifth_box_description_highlight_2 {
  color: red;
}

.community_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.community {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 15px;
  box-shadow: 7px 7px 7px gray;
}

.sixth {
  background-color: white;
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.sixth_text {
  font-family: 'nanum_son';
  font-size: 28px;
}

.sixth_big {
  font-size: 50px;
}

.sixth_box {
  display: flex;
  justify-content: center;
}

.sixth_speech_img {
  margin-top: 150px;
  height: 250px;
}

.sixth_app_img {
  height: 600px;
}

.sixth_sub_descriprion {
  color: gray;
  font-size: 10px;
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'nanum_square_light';
}

.seventh {
  background-color: #5856D7;
  color: white;
  padding: 200px;
  padding-top: 200px;
  padding-bottom: 50px;
  text-align: center;
}

.seventh_letter {
  font-size: 40px;
  font-weight: 200;
}

.seventh h1 {
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 200;
}

.seventh_big {
  font-size: 50px;
  font-weight: 700;
}

.social_icons{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.icons {
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}

.on_media {
  display: none;
}

.about {
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: #5856D7;
  color: white;
  text-align: center;
  margin-top: -10px;
}

.about h4 {
  font-size: 12px;
}

.about a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

.spacing {
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 17px;
  }
  
  .first {
    padding-left: 20px;
    padding-right: 20px;
  }

  .first_text {
    font-size: 38px;
  }

  .first_img {
    width: 229px;
    height: 175px;
  }

  .first_text_small {
    font-size: 24px;
  }

  .first_receipt_img {
    width: 162px;
    height: 200px;
  }

  .first_description {
    margin-top: 40px;
    font-size: 23px;
  }

  .first_description_small {
    font-size: 15px;
  }

  .first_description_sub {
    margin-top: 30px;
  }

  .second {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .second_img {
    height: 35px;
  }

  .second_main_description {
    font-size: 36px;
  }

  .second_arrow {
    width: 160px;
    height: 160px;
  }

  .second_comment {
    padding-bottom: 150px;
  }

  .second_left {
    margin-right: 20px;
  }

  .second_right {
    margin-left: 20px;
  }

  .third, .third_sub {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .third p {
    font-size: 16px;
  }

  .third_progress_img {
    height: 70px;
  }

  .third_sub_text {
    font-size: 14px;
  }

  .third_description_blue {
    font-size: 38px;
  }

  .third_sub_person_img {
    height: 130px;
  }

  .logo {
    width: 130px;
  }

  .forth {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .forth_progress_img {
    height: 45px;
  }

  .special {
    height: 37px;
  }

  .forth_result_img {
    height: 300px;
  }

  .forth_box {
    padding-left: 15px;
  }

  .forth_sub_box {
    margin-left: 0px;
  }

  .forth_sub_box_description {
    font-size: 18px;
  }

  .forth_sub_box_text {
    font-size: 22px;
  }

  .forth_speech_img {
    margin-left: -70px;
    height: 100px;
  }

  .fifth {
    padding: 0px;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .fifth_description {
    font-size: 18px;
  }

  .fifth_box_description {
    font-size: 22px;
  }

  .fifth_book_img {
    width: 150px;
    height: 150px;
  }

  .fifth_box_text {
    margin-top: 50px;
  }

  .fifth_main_img {
    height: 100px;
  }

  .community {
    width: 90px;
    height: 90px;
  }

  .sixth {
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .sixth_text {
    font-size: 16px;
  }

  .sixth_big {
    font-size: 32px;
  }

  .sixth_sub_descriprion {
    font-size: 8px;
  }

  .sixth_speech_img {
    margin-top: 50px;
    height: 100px;
  }

  .sixth_app_img {
    height: 250px;
  }

 
}