@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  cursor: default;
}

#home {
  background-color: #5856D7;
  color: white;
  padding-top: 250px;
  padding-bottom: 450px;
  padding-left: 400px;
}

.home_text_box {
  text-align: left;
}

#home h1 {
  font-size: 70px;
}

#home h1:first-letter {
  font-size: 100px;
}

/* content */
.first {
  display: flex;
  justify-content: center;
  background-color: #F1F1F1;
  padding: 200px;
}

.mimo {
  height:180px;
}

.first_left {
  margin-right: 200px;
}

.first_right {
  margin-left: 200px;
}

.first p {
  font-size: 24px;
}

.first_left_first {
  font-size:50px;
}